body {
    background-image: url("./images/background.jpg");
 
  }



  .container {
    opacity: 1;
  }

  #title{
    color: white;
    opacity: 1;
  }

  .card-header{
    color: black;
    opacity: 1;
  }